@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Hanken Grotesk', sans-serif;
    line-height: 1.5;
    font-size: 15px;
    color: #f2f2f2;
}

.result__summary {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.result--card h3 {
    font-size: 1rem;
    color: #b8abff;
    margin-bottom: 2rem;
}

.result--card {
    background: linear-gradient(to bottom, #6743ff, #332de9);
    width: 300px;
    padding: 2rem 3rem 3rem;
    border-radius: 26px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.result__summary--section {
    display: flex;
    box-shadow: 16px 7px 20px 13px #f2f5fe;
    border-radius: 26px;
}

.result--card div {
    background: linear-gradient(to bottom, #4c22cc, #4535f0);
    border-radius: 50%;
    height: 150px;
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.8rem;
}

.result--card div h1 {
    font-size: 4rem;
}

.result--card div h4 {
    font-size: 1rem;
    opacity: 50%;
}

.result--card p {
    color: #dfdfdf;
    font-size: 15px;
    margin-top: 10px;
    line-height: 1.3;
    opacity: 80%;
}

.result--card h2 {
    font-size: 1.7rem;
}

.summary--card {
    width: 300px;
    padding: 2rem 2rem 3rem;
}
.summary--card h3 {
    color: #303b59;
    font-size: 1.5rem;
    font-weight: 700;
}

.summary-common {
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
    font-weight: 700;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 12px;
}

.summary-common h3 {
    font-size: 1rem;
    color: #303b59;
}

.summary-common img {
    margin-right: 10px;
}

.summary-common div {
    display: flex;
    align-items: center;
}

.summary-common div span {
    color: #adadadb5;
}

.summary-reaction {
    background: #fff6f5;
    color: #ea6e73;
    margin-top: 1.5rem;
}

.summary-memory {
    background: #fffbf2;
    color: #f1b645;
}

.summary-verbal {
    background: #f2fbfa;
    color: #61cfb4;
}

.summary-visual {
    background: #f3f3fd;
    color: #626ac8;
}

button {
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    background: #303b59;
    color: #dfdfdf;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.4px;
    margin-top: 1rem;
}
